
/* ======================================
   3. HERO Y SECCIONES PRINCIPALES
====================================== */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('/assets/img/hero/gym.webp') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.small-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: #fdfdfd;
}

h1 {
    font-size: 80px;
    margin-bottom: 1rem;
    color: #ffffff;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
}

.btn-outline {
    border: 2px solid #ffffff;
    color: #ffffff;
    background: transparent;
}

.btn-outline:hover {
    background: #fafafa;
    color: rgb(0, 0, 0);
}

.btn-primary {
    background: var(--blue-color);
    color: white;
    border: none;
}

.btn-primary:hover {
    background: #000000;
}

.full-width {
    width: 100%;
}
