@import 'variables.css';
@import 'nav.css';
@import 'hero.css';
@import 'product-din.css';
@import 'category.css';
@import 'seccion-promo.css';
@import 'products-desct.css';
@import 'pack.css';
@import 'acces.css';
@import 'pack-din.css';
@import 'promo-din.css';
@import 'buy.css';
@import 'why.css';
@import 'cart.css';
@import 'produc.css';
@import 'footer.css';
@import 'modal.css';
@import 'responsive.css';
