@import url(../index/variables.css);
@import url(../index/nav.css);
@import url(../index/cart.css);
@import url(../index/produc.css);
@import 'promociones.css';
@import url(../index/footer.css);
@import url(../index/responsive.css);
