@import url(/assets/style/index/variables.css);
@import url(/assets/style/index/nav.css);
@import url(/assets/style/index/cart.css);
@import url(/assets/style/index/produc.css);
@import 'promociones.css';
@import url(/assets/style/index/footer.css);
@import url(/assets/style/index/responsive.css);

